@model IEnumerable<UpravljanjeCekanjem.Models.Korisnik>

@{
    ViewBag.Title = "Index";
}

<h2>Početni view za korisnike</h2>
<p>
    U bazi je @Model.Count() korisnika:
</p>
<ul>
    @foreach (var korisnik in Model)
    {
        <li>@korisnik.userName, @korisnik.ime @korisnik.prezime - @korisnik.razinaPrava</li>
    }
</ul>