@{
    ViewBag.Title = "Službenik";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.showmenu = true;
}

<h2>Prostor za službenika</h2>
<p>
    <h3>Šalter: @ViewData["šalter"] - Klijent na redu: @ViewData["tiket"]</h3>
    <br />
    
</p>
<div class="grid">
    <div class="row">
        <div class="span6 offset1" style="border-style:solid;border-color:blueviolet">
            <div class="row">
                <div class="span6 offset1">
                    @using (Html.BeginForm("PromijeniSalter", "Clerk", FormMethod.Get))
                    {

                        @Html.DropDownList("TipoviSaltera")
                        <input class="large primary" type="submit" value="Promijeni šalter" />
                    }
                </div>
            </div>
        </div>
        <div class="span6">
            @if (!ViewData["tiket"].Equals("0"))
            {
                <div class="tile bg-cyan" id="next" onclick="location.href='@Url.Action("NextClient", new { salter = ViewData["šalter"] })'" style=" text-align:center;color:white">
                    <div class="tile-content" style="margin-top:25%;font-size:x-large">
                        Sljedeći klijent
                    </div>
                </div>
            }
            else
            {
                <div class="tile bg-cyan" id="next" onclick="location.href='@Url.Action("Index")'" style=" text-align:center;color:white">
                    <div class="tile-content" style="margin-top:25%;font-size:x-large">
                        Sljedeći klijent
                    </div>
                </div>
            }

                
            
            <div class="tile bg-cyan" id="flash" style="text-align:center;color:white">
                <div class="tile-content" style="margin-top:25%;font-size:x-large">
                    Zabljesni brojem!
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var serv = $.connection.cvorHub;
        $.connection.hub.start().done(function () {
            $('#flash').click(function () {
                serv.server.pokreni_flash('@ViewData["šalter"]');
            });

            $(document).ready(function () {
                serv.server.osvjezi_screen_vrijeme("@ViewData["šalter"]");
                console.log("osvjezi vrijeme @ViewData["šalter"]");
            });
        }).fail(function (error) {
            console.log('greska ' + error);
        });
    });
</script>