<head>
    <title>Službenik</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
</head>
@{
    ViewBag.Title = "Službenik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prostor za službenika</h2>
<p>
    Šalter: @ViewData["šalter"]
    <br />
    @Html.DropDownList("tipovi")
    <button type="button" id="šalter" data-user=@User.Identity.Name>Promijeni šalter</button>
    <script>
        $(function () {
            var serv = $.connection.cvorHub;
            $.connection.hub.start().done(function () {
                $('#šalter').click(function () {
                    var user = $('#šalter').data('user');
                    var e = document.getElementById("tipovi");
                    var tip = e.options[e.selectedIndex].text;
                    serv.server.promijeni_salter(tip, user);
                    setTimeout(
                     function () {
                         location.reload();
                     }, 500);
                });

            }).fail(function (error) {
                console.log('greska ' + error);
            });
        });
    </script>
<p />
@Html.ActionLink("Odlogautaj se", "Logout", "HomeUser")
<p>
    Klijent na redu: @ViewData["tiket"]
</p>
<p>
    <button type="button" id="next" data-pult=@ViewData["šalter"] data-num=@ViewData["tiket"]>Sljedeći klijent</button>
    
    <script>
         $(function () {
             var serv = $.connection.cvorHub;
             $.connection.hub.start().done(function () {
                 $('#next').click(function () {
                     var tip = $('#next').data('pult');
                     var naRedu = $('#next').data('num');
                     if(naRedu != 0)
                     serv.server.next_client(tip);
                     serv.server.osvjezi_screen_tip();
                     setTimeout(
                     function () {
                         location.reload();
                         }, 500);
                     });
                 }).fail(function (error) {
                     console.log('greska' + error);
                     });
             });
        </script>
    
</p><br/>
<button type="button" id="flash">Flashaj broj</button>
<script>
    $(function () {
        var serv = $.connection.cvorHub;
        $.connection.hub.start().done(function () {
            $('#flash').click(function () {
                serv.server.pokreni_flash('@ViewData["šalter"]');
            });

        }).fail(function (error) {
            console.log('greska ' + error);
        });
    });
</script>