@model System.Collections.Generic.Dictionary<string, Tuple<int, double>>
@{
    ViewBag.Title = "Screen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.showmenu = false;
}

<script>
function startTime() {
    var today=new Date();
    var h=today.getHours();
    var m=today.getMinutes();
    var s=today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('sat').innerHTML = h+":"+m+":"+s;
    var t = setTimeout(function(){startTime()},500);
}

function checkTime(i) {
    if (i<10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}
</script>

<body onload="startTime()">
    <h2>Screen</h2>
    <p id="broj"></p>
    <p id="sat" style="font-size:@ViewBag.vel;color:@ViewBag.boja"></p>
    <p id="broj2">@ViewBag.broj</p>
        <script>
            $(function () {
                var serv = $.connection.cvorHub;
                $.connection.hub.start();
                serv.client.pokreni = function (vel, boja) {
                    console.log('pozvano');
                    $('#broj').html(vel + ' ' + boja);
                    $('#sat').css('font-size', vel);
                    $('#sat').css('color', boja);
                    //location.reload(true);
                };
                serv.client.flash = function (tip) {
                    console.log('flash');
                    $("#"+tip).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
                };
                serv.client.updatered = function (red, value) {
                    console.log('update'+red);
                    $("#" + red).text(value);
                };
                serv.client.updatevrijeme = function (red, value) {
                    console.log('#"vrijeme.' + red +" "+ value);
                    $("#vrijeme\\." + red).text(value);
                };
            });
        </script>
</body>
@foreach (KeyValuePair<string, Tuple<int, double>> entry in Model)
{
    <p>Red: <span id="@entry.Key key">@entry.Key</span> Sljedeći broj: <span id="@entry.Key">@entry.Value.Item1</span> <span id="vrijeme.@entry.Key">@entry.Value.Item2</span> sekundi</p>
}

