@model UpravljanjeCekanjem.Models.Tiket
@{
    ViewBag.Title = "IzdajTiket";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.showmenu = false;
}
<script>
    $(function () {
        var serv = $.connection.cvorHub;
        $.connection.hub.start().done(function () {
            serv.server.osvjezi_screen_tip();
            console.log('nene ');
        });

    });
</script>



<h2>IzdajTiket</h2>
<h3>Redni broj tiketa: @Model.redniBroj</h3>
<p>Vrijeme izdavanja: @Model.vrijemeIzdavanja</p>
<p>Tip: @Model.tip</p>
<p>Trenutni broj u redu: @ViewBag.brojuredu</p>
<p>Očekivano vrijeme dolaska na red: @ViewBag.ocekivano</p>
<p>@Html.ActionLink("Natrag", "Index", "HomeClient")</p>
