<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.title</title>
    <link rel="stylesheet" href="~/css/metro-bootstrap.css">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jscolor.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/jquery.widget.min.js"></script>
    <link href="~/css/metro-bootstrap-responsive.css" rel="stylesheet">
    <script src="~/Scripts/metro.min.js"></script>
</head>
<body class="metro" style="background-color: #181818">
    <div class="container bg-white">
            @if (ViewBag.showmenu == true)
            {
                <nav class="horizontal-menu">
                    <ul>
                        @if (Request.IsAuthenticated)
                        {
                            <li><div class="subheader-secondary"><strong>@Html.Encode(User.Identity.Name)</strong></div></li>
                            <li><a href="@Url.Action("Logout", "HomeUser")">Odjavi se</a></li>
                            <li><a href="@Url.Action("Index", "HomeClient")">HomeClient</a></li>
                            <li><a href="@Url.Action("Index", "Screen")">Screen</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Login", "HomeUser")">Prijavi se</a></li>
                        }
                    </ul>
                </nav>
            }
        <hr/>
        @RenderBody()

        <footer>
            <div class="bottom-menu-wrapper">
                <ul class="horizontal-menu compact">
                    <li>&copy; 2014 Metro UI CSS</li>
                    <li>PowerRangers</li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>
