@model IEnumerable<UpravljanjeCekanjem.Models.TipTiketa>
<head>
    <title>Nadzornik</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jscolor.js"></script>
    <script src="~/signalr/hubs"></script>
</head>
@{
    ViewBag.Title = "Index";
}
<body>
<h2>Prostor za nadzornika</h2>
@Html.ActionLink("Odlogautaj se", "Logout", "HomeUser")<br/>
<p>Parametri: </p>
    <form>
        Velicina teksta:<input type="text" name="velteksta" id="velteksta">px<br/>
        Boja teksta:<input class="color" id="bojateksta"/>
    </form>
    <button type="button" id="refresh">Refreshaj Screen</button>
        <script>
            var serv;
            $(function () {
                serv = $.connection.cvorHub;
                $.connection.hub.start().done(function () {
                    console.log('spojeno');
                    $('#refresh').click(function () {
                        var a = $('#velteksta').val();
                        var b = $('#bojateksta').val();
                        if ((a!=='' && !$.isNumeric(a)) || (b!=='' && isNaN(parseInt(b,16))))
                            alert('Greška pri unosu vrijednosti');
                        else{
                            serv.server.pokreni_refresh(a,b);
                            $('#velteksta').val('');
                            $('#bojateksta').val('FFFFFF');
                        }
                    });
                }).fail(function (error) {
                    console.log('greska ' + error);
                });
            });
            function salji(a) {
                serv.server.reset_brojaca(a);
            };
        </script>
<p>Opcije redova: </p>
<ul>
    @foreach (var opcija in Model)
    {
        if(opcija.opis!=null){
        <p>@Html.ActionLink(opcija.opis, "Edit", new { tip = opcija.tip }) <button type="button" class="tipka" data-tip="@opcija.tip" onclick="salji($(this).data('tip'))">Resetiraj brojac</button></p>
        }
        else { 
        <p>@Html.ActionLink("bezopisna", "Edit", new { tip = opcija.tip })</p>
        }
    }
</ul>
<p>@Html.ActionLink("Dodaj novu", "Add", "Manager")</p>
</body>