@model IEnumerable<UpravljanjeCekanjem.Models.TipTiketa>
@{
    ViewBag.title = "Nadzornik";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.showmenu = true;
}
<div class="tile-group no-margin no-padding clearfix" style="width: 100%">
    <div class="tile triple double-vertical ol-transparent bg-white">
        <div class="tile-content">
            <div class="panel">
                <div class="panel-header bg-darkRed fg-white">Parametri</div>
                <div class="panel-content fg-dark">
                    <form>
                        Velicina teksta:<input type="text" name="velteksta" id="velteksta">px<br />
                        Boja teksta:<input class="color" id="bojateksta" /><br />
                    </form>
                    <button type="button" id="refresh">Refreshaj Screen</button>
                    <button type="button" id="true">show vrijeme</button>
                    <button type="button" id="false">hide vrijeme</button>
                    <button type="button" id="truei">show izdane</button>
                    <button type="button" id="falsei">hide izdane</button>
                </div>
                
            </div>
        </div>
    </div>
    <div class="tile triple double-vertical ol-transparent bg-white">
        <div class="tile-content">
            <div class="panel">
                <div class="panel-header bg-pink fg-white">Generiranje izvještaja za razdoblje</div>
                <div class="panel-content fg-dark nlp nrp">
                    @using (Html.BeginForm("Report", "Manager", FormMethod.Get))
                    {
                        @Html.DropDownList("IzvjestajTip")
                        @Html.DropDownList("IzvjestajRaspon")
                        <input type="submit" value="Generiraj!" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>



    <div class="container fg-dark">
        <h2>Opcije redova:</h2>
        <table class="table hovered">
            <thead>
                <tr>
                    <th class="text-left">Red</th>
                    <th class="text-left">Opis</th>
                    <th class="text-left"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var opcija in Model)
                {
                    <tr>
                        <td>@opcija.tip</td>
                        <td>
                        @if (opcija.opis != null)
                        {
                            @opcija.opis 
                        }
                        </td>
                        <td>
                            <button type="button" onclick="location.href='@Url.Action("Edit", new { tip = opcija.tip })'">Uredi</button>
                            <button type="button" class="tipka" data-tip="@opcija.tip" onclick="salji($(this).data('tip'))">Resetiraj brojač</button>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                @Html.ActionLink("Dodaj novu", "Add", "Manager")
            </tfoot>
        </table>
    </div>

<script>
    var serv;
    $(function () {
        serv = $.connection.cvorHub;
        $.connection.hub.start().done(function () {
            console.log('spojeno');
            $('#refresh').click(function () {
                var a = $('#velteksta').val();
                var b = $('#bojateksta').val();
                if ((a !== '' && !$.isNumeric(a)) || (b !== '' && isNaN(parseInt(b, 16))))
                    alert('Greška pri unosu vrijednosti');
                else {
                    serv.server.pokreni_refresh(a, b);
                    $('#velteksta').val(a);
                    $('#bojateksta').val(b);
                }
            });
            $('#true').click(function () {
                serv.server.prikazi_vrijeme(true);
            });
            $('#false').click(function () {
                serv.server.prikazi_vrijeme(false);
            });
            $('#truei').click(function () {
                serv.server.prikazi_izdane(true);
            });
            $('#falsei').click(function () {
                serv.server.prikazi_izdane(false);
            });

            $(document).ready(function () {
                serv.server.osvjezi_tipove();
            });
        }).fail(function (error) {
            console.log('greska ' + error);
        });
    });
    function salji(a) {
        serv.server.reset_brojaca(a);
    };
</script>
